.bg-canvas__wrapper {
  background-color: var(--color-neutral-white);
  height: 100%;
  position: absolute;
  transition: background-color 0.23s;
  width: 100%;
}

.bg-canvas__wrapper.dark {
  background-color: #020202;
}

.bg-canvas__wrapper.green {
  background-color: var(--color-brand-ink);
}

.bg-canvas__wrapper canvas {
  height: 100%;
  width: 100%;
}
