.logoGridWrapper {
  position: relative;
  z-index: 0;
  overflow: clip;
  display: grid;
  grid-template-columns: repeat(var(--grid-size, 2), 1fr);
  column-gap: var(--grid-gutter, 0);
  padding-inline: var(--grid-margin);
  --grid-size: 2;
  --grid-gutter: 2.564vw;
  --grid-margin: 5.128vw;
}

.ptSm {
  padding-top: 1.5rem;
}

.pbSm {
  padding-bottom: 1.5rem;
}

.ptLg {
  padding-top: 3.75rem;
}

.pbLg {
  padding-bottom: 3.75rem;
}

.intro {
  position: absolute;
  top: 2.5rem;
  right: 0;
  left: 0;
  z-index: 2;
  padding-inline: 1.25rem;
  text-align: center;
  text-wrap: balance;
}

.hasIntro .gridWindow {
  padding-top: calc(var(--lw-intro-h, 7rem) + 3.25rem);
}

.hasIntro .logo .verticalTop {
  display: none;
}

.gridWindow {
  position: relative;
  grid-column: 1 / span 2;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  padding: 3.5rem 0;
}

.logo {
  position: relative;
  flex: 0 0 50%;
  aspect-ratio: 1;
}

.logoSwap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: clip;
}

.image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  --logo-scale: 1;
  max-height: calc(4.5rem * clamp(0.5, var(--logo-scale), 2));
  max-width: min(95%, 85% * clamp(0.5, var(--logo-scale), 2));
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.logo .slot__wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.logo .slot__wrapper:hover + .background-gradient {
  opacity: 0.08;
}

.crossWrapper {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.crossesWrapper {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.topLeft {
  top: 1px;
  left: 1px;
}

.topRight {
  top: 1px;
  right: -1px;
}

.bottomLeft {
  bottom: 0;
  left: 1px;
}

.bottomRight {
  right: 0;
  bottom: 0;
}

.visualDivider {
  position: absolute;
  padding: 1px;
  pointer-events: none;
  background: #fff;
}

.visualDivider::after {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  content: "";
}

.horizontal {
  top: 0;
  display: none;
  width: min(7.292vw, 186.67px);
  height: calc(100% + 1px);
  background: linear-gradient(90deg, #fff0, #e5e5e5);
  transform: translateX(-100%);
}

.verticalTop,
.verticalBottom {
  left: 0;
  display: none;
  width: calc(100% + 1px);
  height: min(11.979vw, 306.67px);
  background: linear-gradient(180deg, #fff0, #e5e5e5);
  transform: translateY(-100%);
}

.verticalTop {
  top: 1px;
}

.verticalBottom {
  bottom: 0;
}

@media (min-width: 1024px) {
  .logoGridWrapper {
    --grid-size: 12;
    --grid-gutter: min(1.042vw, 26.67px);
    --grid-margin: min(3.646vw, 93.33px);
  }

  .ptSm {
    padding-top: 2.5rem;
  }

  .pbSm {
    padding-bottom: 2.5rem;
  }

  .ptLg {
    padding-top: 5.625rem;
  }

  .pbLg {
    padding-bottom: 5.625rem;
  }

  .intro {
    top: min(3.125vw, 80px);
    padding-inline: 4.375rem;
  }

  .hasIntro .gridWindow {
    padding-top: calc(var(--lw-intro-h, 10rem) + min(3.854vw, 98.67px));
  }

  .gridWindow {
    grid-column: 2 / span 10;
  }

  .grid {
    justify-content: center;
    padding: 4.5rem 0;
    column-gap: 0;
  }

  .logo {
    flex-basis: 10%;
  }

  .logo:nth-child(10n + 2) .bottomLeft,
  .logo:nth-child(10n + 2) .topLeft,
  .logo:nth-child(10n + 3) .bottomLeft,
  .logo:nth-child(10n + 3) .topLeft,
  .logo:nth-child(10n + 4) .bottomLeft,
  .logo:nth-child(10n + 4) .topLeft,
  .logo:nth-child(10n + 5) .bottomLeft,
  .logo:nth-child(10n + 5) .topLeft,
  .logo:nth-child(10n + 6) .bottomLeft,
  .logo:nth-child(10n + 6) .topLeft,
  .logo:nth-child(10n + 7) .bottomLeft,
  .logo:nth-child(10n + 7) .topLeft,
  .logo:nth-child(10n + 8) .bottomLeft,
  .logo:nth-child(10n + 8) .topLeft,
  .logo:nth-child(10n + 9) .bottomLeft,
  .logo:nth-child(10n + 9) .topLeft,
  .logo:nth-child(10n + 10) .bottomLeft,
  .logo:nth-child(10n + 10) .topLeft,
  .logo:nth-child(n + 11) .topLeft,
  .logo:nth-child(n + 11) .topRight {
    display: none;
  }

  .logo:first-child .verticalTop,
  .logo:nth-child(2) .verticalTop,
  .logo:nth-child(3) .verticalTop,
  .logo:nth-child(4) .verticalTop,
  .logo:nth-child(5) .verticalTop,
  .logo:nth-child(6) .verticalTop,
  .logo:nth-child(7) .verticalTop,
  .logo:nth-child(8) .verticalTop,
  .logo:nth-child(9) .verticalTop,
  .logo:nth-child(10) .verticalTop {
    display: block;
  }

  .logo:last-child .verticalBottom,
  .logo:nth-last-child(2) .verticalBottom,
  .logo:nth-last-child(3) .verticalBottom,
  .logo:nth-last-child(4) .verticalBottom,
  .logo:nth-last-child(5) .verticalBottom,
  .logo:nth-last-child(6) .verticalBottom,
  .logo:nth-last-child(7) .verticalBottom,
  .logo:nth-last-child(8) .verticalBottom,
  .logo:nth-last-child(9) .verticalBottom,
  .logo:nth-last-child(10) .verticalBottom {
    display: block;
    background: linear-gradient(0deg, #fff0, #e5e5e5);
    transform: translateY(100%);
  }

  .logo:nth-child(10n + 1) .horizontal {
    display: block;
    left: 1px;
  }

  .logo:last-child .horizontal,
  .logo:nth-child(10n + 10) .horizontal {
    display: block;
    right: 0;
    background: linear-gradient(-90deg, #fff0, #e5e5e5);
    transform: translateX(100%);
  }
}

@media (max-width: 1023px) {
  .logo:nth-child(2n + 2) .bottomLeft,
  .logo:nth-child(2n + 2) .topLeft,
  .logo:nth-child(n + 3) .topLeft,
  .logo:nth-child(n + 3) .topRight {
    display: none;
  }

  .logo:first-child .verticalTop,
  .logo:nth-child(2) .verticalTop {
    display: block;
  }

  .logo:last-child .verticalBottom,
  .logo:nth-last-child(2) .verticalBottom {
    display: block;
    background: linear-gradient(0deg, #fff0, #e5e5e5);
    transform: translateY(100%);
  }

  .logo:nth-child(odd) .horizontal {
    display: block;
    left: 1px;
  }

  .logo:nth-child(2n + 2) .horizontal {
    display: block;
    right: 0;
    background: linear-gradient(-90deg, #fff0, #e5e5e5);
    transform: translateX(100%);
  }
}

@media (hover: hover) and (pointer: fine) {
  .logo .border-holder {
    background: radial-gradient(circle at 50% 50%, var(--color-brand-accent-alpha-40), transparent 8rem);
  }
}
